@model IEnumerable<WebAppLab.AlbumReview>

@{
    ViewData["Title"] = "Album Reviews";
}

<h1>Album review of the album @ViewBag.AlbumTitle</h1>

<p>
    @Html.ActionLink("Adding new review", "Create", new {albumId = @ViewBag.AlbumId})
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WritingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReviewContent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AlbumScore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Album)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WritingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewContent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AlbumScore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Album.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
