@model IEnumerable<WebAppLab.SongReview>

@{
    ViewData["Title"] = "Song Reviews";
}

<h1>Song Reviews to song @ViewBag.SongTitle</h1>

<p>
    @Html.ActionLink("Add new song review", "Create", new {songId = @ViewBag.SongId})
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WritingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReviewContent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SongScore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Song)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WritingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewContent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SongScore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Song.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
