@model IEnumerable<WebAppLab.Song>

@{
    ViewData["Title"] = "Songs by artist";
}

<h1>Songs by artist @ViewBag.ArtistName</h1>

<p>
    @Html.ActionLink("Add new song", "Create", new {artistId = @ViewBag.ArtistId})
</p>

<div>
    <h3>Choose excel-file for uploading</h3>
    @using (Html.BeginForm("Import", "Songs", FormMethod.Post, new { enctype = "multipart/form-data", id = "frm-excel" }))
    {
        <div>
            Upload Excel-file:
            <input type="file" name="fileExcel" id="fileExcel" class="form-control btn btn-light" />
            <div>
                <input type="submit" value="Upload" class="btn btn-light" />
            </div>
        </div>
    }
</div>

<div>
    <h3>Export info to file</h3>
    <a asp-action="Export" class="btn btn-light">Export</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SongLength)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Artist)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SongLength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Artist.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre.GenreName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
