@model IEnumerable<WebAppLab.Album>

@{
    ViewData["Title"] = "Albums";
}

<h1>Albums</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div>
    <h3>Choose excel-file for uploading</h3>
    @using (Html.BeginForm("Import", "Albums", FormMethod.Post, new { enctype = "multipart/form-data", id = "frm-excel" }))
    {
        <div>
            Upload Excel-file:
            <input type="file" name="fileExcel" id="fileExcel" class="form-control btn btn-light" />
            <div>
                <input type="submit" value="Upload" class="btn btn-light" />
            </div>
        </div>
    }
</div>

<div>
    <h3>Export info to file</h3>
    <a asp-action="Export" class="btn btn-light">Export</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="ReviewAdd" asp-route-id="@item.Id">Reviews</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div class="container">
    <div id="chartalbumsong"></div>
</div>
@section scripts{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            $.get('/api/Chart/JsonDataAlbumSong', function (JsonDataAlbumSong) {
                data = google.visualization.arrayToDataTable(JsonDataAlbumSong, false);
                var option = {
                    title: "The ratio of songs to albums",
                    width: 1000,
                    height: 400,
                    legend: { position: "none" },
                };
                chart = new google.visualization.ColumnChart(document.getElementById('chartalbumsong'));
                chart.draw(data, option);
            })
        }
    </script>
}